canvas {
    background-color: #111;
    background-image: url(https://mathspace-production-media.mathspace.co/media/upload/images/001_Chapter_Entries/grid_map_small_label.png);
    background-position: center;
    background-size: cover;
}

.canvas1{
    background-image: url(https://cdn.pixabay.com/photo/2020/05/04/10/21/background-5128585_1280.jpg);
}